body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header {
    background-color: #a9a9a9;
    color: #76323f;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: #76323f;
    padding: 0 10px;
}

.about img {
    max-width: 300px;
    height: auto;
}

.about {
    display: flex;
    flex-direction: row;
    margin: 10px;
}