html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header {
    background-color: #a9a9a9;
    color: #76323f;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: #76323f;
    padding: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
}

.about {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.aboutimg {
    flex-basis: 30%;
    width: 100%;
    height: auto;
}

.about p {
    flex-basis: 65%;
}

.work {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.feature {
    flex-basis: 50%;
}

.feature img:hover {
    opacity: .5;
}

.small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.projects {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects img:hover {
    opacity: .5;
}

footer {
    background-color: #a9a9a9;
    color: #76323f;
}

.contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}

.contact li {
    list-style: none;
}

.contact a {
    text-decoration: none;
    color: #76323f;
    padding: 0 10px;
    font-weight: bold;
}

.contact a:hover {
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .work {
        flex-direction: column;
    }
    .small {
        row-gap: 20px;
    }
}

@media screen and (max-width: 512px) {
    .about {
        flex-direction: column;
    }
    
}